body {
  font-size: large;
  margin: 30px 150px 30px 150px;
  background-color: rgb(36, 36, 65);
}

a {
  color: white;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
  width: 50%;
  justify-content: space-between;
  align-items: center;
}

i {
  color: white;
  font-size: 10em;
}

.logo {
  font-size: 3em;
}

.nav-link {
  position: relative;
  padding: 10px;
}

.nav-link::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 8px;
  height: 8px;
  background-color: grey;
  border-radius: 50%;
  transition: opacity 0.4s ease;
  opacity: 0;
}

.nav-link:hover::before {
  opacity: 1;
}

.pinned-article {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 1.5em;
  justify-content: space-between;
}

.pinned-badge {
  font-size: 0.8em;
  width: fit-content;
  background-color: white;
  padding: 5px;
  border-radius: 15px;
}

.article-text {
  color: white;
}

.pinned-article:first-child {
  background-color: purple;
  grid-area: first;
}

.pinned-article:nth-child(2) {
  background-color: red;
  grid-area: second;
}

.pinned-article:nth-child(3) {
  background-color: green;
  grid-area: third;
}

.pinned-article:nth-child(4) {
  background-color: blue;
  grid-area: fourth;
}

.pinned-article:last-child {
  background-color: pink;
  grid-area: fifth;
}

.pinned-article p + h2 {
  color: white;
}

.pinned-section {
  margin-top: 20px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 0.5em 0.5em;
  grid-template-areas:
    "first second third"
    "first fourth fifth"
}

