@charset "UTF-8";
body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: large;
  margin: 30px 150px 30px 150px;
  background-color: rgb(36, 36, 65);
}

a {
  color: white;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
  width: 50%;
  justify-content: space-between;
  align-items: center;
}

i {
  color: white;
  font-size: 10em;
}

.logo {
  font-size: 3em;
}

.nav-link {
  position: relative;
  padding: 10px;
}
.nav-link::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 8px;
  height: 8px;
  background-color: grey;
  border-radius: 50%;
  transition: opacity 0.4s ease;
  opacity: 0;
}
.nav-link:hover::before {
  opacity: 1;
}

.pinned-article {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 1.5em;
  justify-content: space-between;
  transition: transform 0.3s ease;
}
.pinned-article:hover {
  transform: translateY(-10px);
}
.pinned-article:first-child {
  background-color: purple;
  grid-area: first;
}
.pinned-article:nth-child(2) {
  background-color: red;
  grid-area: second;
}
.pinned-article:nth-child(3) {
  background-color: green;
  grid-area: third;
}
.pinned-article:nth-child(4) {
  background-color: blue;
  grid-area: fourth;
}
.pinned-article:last-child {
  background-color: pink;
  grid-area: fifth;
}
.pinned-article p + h2 {
  color: white;
}

.pinned-badge {
  margin-right: 10px;
  font-size: 0.8em;
  width: fit-content;
  background-color: white;
  padding: 5px;
  border-radius: 15px;
}

.article-text {
  color: white;
}

.pinned-section {
  margin-top: 20px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 0.8em 0.8em;
  grid-template-areas: "first second third" "first fourth fifth";
}

.big-article {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 5em;
  padding-left: 5em;
  padding-right: 5em;
  height: 400px;
  width: auto;
  margin: 30px 100px 30px 100px;
  border-radius: 15px;
  background-color: black;
}
.big-article .pinned-badge {
  transition: background-color 0.3s;
}
.big-article .pinned-badge:hover {
  background-color: orange;
}
.big-article:hover .article-content {
  transform: scale(1.03);
}

.article-content {
  transition: transform 0.5s ease;
}

.badge-container {
  display: flex;
  width: auto;
}

.earlier-section-title {
  color: white;
  text-align: center;
}

.earlier-section {
  margin-left: 100px;
  margin-right: 100px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 0.8em 0.8em;
}
.earlier-section .big-article {
  padding-left: 10%;
  padding-right: 10%;
  margin: 0;
}
.earlier-section .big-article:first-child {
  grid-column: auto/span 3;
}
.earlier-section .big-article:nth-child(2) {
  grid-column: auto/span 3;
}
.earlier-section .big-article:nth-child(3) {
  grid-column: auto/span 2;
}
.earlier-section .big-article:nth-child(4) {
  grid-column: auto/span 2;
}
.earlier-section .big-article:last-child {
  grid-column: auto/span 2;
}

.load-more-button-container {
  display: flex;
  justify-content: center;
}

.load-more-button {
  color: white;
  font-weight: bold;
  margin: 1.5em;
  padding: 2em;
  border-radius: 15px;
  width: 70em;
  background-color: grey;
  transition: background-color 0.3s;
}
.load-more-button:hover {
  background-color: orange;
}

.subscribe-form {
  font-size: 1.5em;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subscribe-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submit-button {
  color: white;
  font-weight: bold;
  margin: 1.5em;
  padding: 2em;
  border-radius: 15px;
  width: 10em;
  background-color: grey;
  transition: background-color 0.3s;
}
.submit-button:hover {
  background-color: orange;
}

input {
  font-size: large;
  text-align: center;
  color: white;
  border: none;
  border-bottom: 2px solid white;
  outline: none;
  background-color: transparent;
  height: 50px;
  width: 600px;
}
input::placeholder {
  color: grey;
  font-weight: bold;
}

.input-wrapper {
  display: block;
}
.input-wrapper > input,
.input-wrapper > .placeholder {
  display: block;
  appearance: none;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
}
.input-wrapper > .placeholder {
  pointer-events: none;
}
.input-wrapper > .placeholder::before {
  content: "​";
  content: "​"/"Start you day with Maido";
  alt: "Start you day with Maido";
  white-space: break-spaces;
  will-change: content;
  animation: typed-0 4.88s linear 1s infinite forwards;
}
.input-wrapper > .placeholder::after {
  content: "​";
  position: relative;
  display: inline-block;
  padding-right: 2px;
  border-right: 2px solid currentColor;
  white-space: nowrap;
  animation: typed-0-caret 0.75s linear 1s infinite forwards;
}
@keyframes typed-0 {
  0%, 1.3651202186% {
    content: "​S";
    content: "​S"/"Start you day with Maido";
    alt: "Start you day with Maido";
  }
  1.3661202186%, 2.7312404372% {
    content: "​St";
    content: "​St"/"Start you day with Maido";
    alt: "Start you day with Maido";
  }
  2.7322404372%, 4.0973606557% {
    content: "​Sta";
    content: "​Sta"/"Start you day with Maido";
    alt: "Start you day with Maido";
  }
  4.0983606557%, 5.4634808743% {
    content: "​Star";
    content: "​Star"/"Start you day with Maido";
    alt: "Start you day with Maido";
  }
  5.4644808743%, 6.8296010929% {
    content: "​Start";
    content: "​Start"/"Start you day with Maido";
    alt: "Start you day with Maido";
  }
  6.8306010929%, 8.1957213115% {
    content: "​Start ";
    content: "​Start "/"Start you day with Maido";
    alt: "Start you day with Maido";
  }
  8.1967213115%, 9.5618415301% {
    content: "​Start y";
    content: "​Start y"/"Start you day with Maido";
    alt: "Start you day with Maido";
  }
  9.5628415301%, 10.9279617486% {
    content: "​Start yo";
    content: "​Start yo"/"Start you day with Maido";
    alt: "Start you day with Maido";
  }
  10.9289617486%, 12.2940819672% {
    content: "​Start you";
    content: "​Start you"/"Start you day with Maido";
    alt: "Start you day with Maido";
  }
  12.2950819672%, 13.6602021858% {
    content: "​Start you ";
    content: "​Start you "/"Start you day with Maido";
    alt: "Start you day with Maido";
  }
  13.6612021858%, 15.0263224044% {
    content: "​Start you d";
    content: "​Start you d"/"Start you day with Maido";
    alt: "Start you day with Maido";
  }
  15.0273224044%, 16.392442623% {
    content: "​Start you da";
    content: "​Start you da"/"Start you day with Maido";
    alt: "Start you day with Maido";
  }
  16.393442623%, 17.7585628415% {
    content: "​Start you day";
    content: "​Start you day"/"Start you day with Maido";
    alt: "Start you day with Maido";
  }
  17.7595628415%, 19.1246830601% {
    content: "​Start you day ";
    content: "​Start you day "/"Start you day with Maido";
    alt: "Start you day with Maido";
  }
  19.1256830601%, 20.4908032787% {
    content: "​Start you day w";
    content: "​Start you day w"/"Start you day with Maido";
    alt: "Start you day with Maido";
  }
  20.4918032787%, 21.8569234973% {
    content: "​Start you day wi";
    content: "​Start you day wi"/"Start you day with Maido";
    alt: "Start you day with Maido";
  }
  21.8579234973%, 23.2230437158% {
    content: "​Start you day wit";
    content: "​Start you day wit"/"Start you day with Maido";
    alt: "Start you day with Maido";
  }
  23.2240437158%, 24.5891639344% {
    content: "​Start you day with";
    content: "​Start you day with"/"Start you day with Maido";
    alt: "Start you day with Maido";
  }
  24.5901639344%, 25.955284153% {
    content: "​Start you day with ";
    content: "​Start you day with "/"Start you day with Maido";
    alt: "Start you day with Maido";
  }
  25.956284153%, 27.3214043716% {
    content: "​Start you day with M";
    content: "​Start you day with M"/"Start you day with Maido";
    alt: "Start you day with Maido";
  }
  27.3224043716%, 28.6875245902% {
    content: "​Start you day with Ma";
    content: "​Start you day with Ma"/"Start you day with Maido";
    alt: "Start you day with Maido";
  }
  28.6885245902%, 30.0536448087% {
    content: "​Start you day with Mai";
    content: "​Start you day with Mai"/"Start you day with Maido";
    alt: "Start you day with Maido";
  }
  30.0546448087%, 31.4197650273% {
    content: "​Start you day with Maid";
    content: "​Start you day with Maid"/"Start you day with Maido";
    alt: "Start you day with Maido";
  }
  31.4207650273%, 61.2011857923% {
    content: "​Start you day with Maido";
    content: "​Start you day with Maido"/"Start you day with Maido";
    alt: "Start you day with Maido";
  }
  61.2021857923%, 62.2940819672% {
    content: "​Start you day with Maid";
    content: "​Start you day with Maid"/"Start you day with Maido";
    alt: "Start you day with Maido";
  }
  62.2950819672%, 63.3869781421% {
    content: "​Start you day with Mai";
    content: "​Start you day with Mai"/"Start you day with Maido";
    alt: "Start you day with Maido";
  }
  63.3879781421%, 64.4798743169% {
    content: "​Start you day with Ma";
    content: "​Start you day with Ma"/"Start you day with Maido";
    alt: "Start you day with Maido";
  }
  64.4808743169%, 65.5727704918% {
    content: "​Start you day with M";
    content: "​Start you day with M"/"Start you day with Maido";
    alt: "Start you day with Maido";
  }
  65.5737704918%, 66.6656666667% {
    content: "​Start you day with ";
    content: "​Start you day with "/"Start you day with Maido";
    alt: "Start you day with Maido";
  }
  66.6666666667%, 67.7585628415% {
    content: "​Start you day with";
    content: "​Start you day with"/"Start you day with Maido";
    alt: "Start you day with Maido";
  }
  67.7595628415%, 68.8514590164% {
    content: "​Start you day wit";
    content: "​Start you day wit"/"Start you day with Maido";
    alt: "Start you day with Maido";
  }
  68.8524590164%, 69.9443551913% {
    content: "​Start you day wi";
    content: "​Start you day wi"/"Start you day with Maido";
    alt: "Start you day with Maido";
  }
  69.9453551913%, 71.0372513661% {
    content: "​Start you day w";
    content: "​Start you day w"/"Start you day with Maido";
    alt: "Start you day with Maido";
  }
  71.0382513661%, 72.130147541% {
    content: "​Start you day ";
    content: "​Start you day "/"Start you day with Maido";
    alt: "Start you day with Maido";
  }
  72.131147541%, 73.2230437158% {
    content: "​Start you day";
    content: "​Start you day"/"Start you day with Maido";
    alt: "Start you day with Maido";
  }
  73.2240437158%, 74.3159398907% {
    content: "​Start you da";
    content: "​Start you da"/"Start you day with Maido";
    alt: "Start you day with Maido";
  }
  74.3169398907%, 75.4088360656% {
    content: "​Start you d";
    content: "​Start you d"/"Start you day with Maido";
    alt: "Start you day with Maido";
  }
  75.4098360656%, 76.5017322404% {
    content: "​Start you ";
    content: "​Start you "/"Start you day with Maido";
    alt: "Start you day with Maido";
  }
  76.5027322404%, 77.5946284153% {
    content: "​Start you";
    content: "​Start you"/"Start you day with Maido";
    alt: "Start you day with Maido";
  }
  77.5956284153%, 78.6875245902% {
    content: "​Start yo";
    content: "​Start yo"/"Start you day with Maido";
    alt: "Start you day with Maido";
  }
  78.6885245902%, 79.780420765% {
    content: "​Start y";
    content: "​Start y"/"Start you day with Maido";
    alt: "Start you day with Maido";
  }
  79.781420765%, 80.8733169399% {
    content: "​Start ";
    content: "​Start "/"Start you day with Maido";
    alt: "Start you day with Maido";
  }
  80.8743169399%, 81.9662131148% {
    content: "​Start";
    content: "​Start"/"Start you day with Maido";
    alt: "Start you day with Maido";
  }
  81.9672131148%, 83.0591092896% {
    content: "​Star";
    content: "​Star"/"Start you day with Maido";
    alt: "Start you day with Maido";
  }
  83.0601092896%, 84.1520054645% {
    content: "​Sta";
    content: "​Sta"/"Start you day with Maido";
    alt: "Start you day with Maido";
  }
  84.1530054645%, 85.2449016393% {
    content: "​St";
    content: "​St"/"Start you day with Maido";
    alt: "Start you day with Maido";
  }
  85.2459016393%, 86.3377978142% {
    content: "​S";
    content: "​S"/"Start you day with Maido";
    alt: "Start you day with Maido";
  }
  86.3387978142%, 100% {
    content: "​";
    content: "​"/"Start you day with Maido";
    alt: "Start you day with Maido";
  }
}
@keyframes typed-0-caret {
  75% {
    border-color: transparent;
  }
}
.input-wrapper > input:focus + .placeholder, .input-wrapper > input:active + .placeholder {
  display: none;
}

footer {
  padding-top: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-icons {
  font-size: 3px;
  justify-content: space-between;
}
.social-icons a {
  margin: 10px;
}
.social-icons a i {
  transition: color 0.3s;
}
.social-icons a i:hover {
  color: orange;
}

.footer-nav {
  font-size: medium;
  display: flex;
  justify-content: flex-start;
  width: 43%;
}

.disclaimer {
  font-size: xx-small;
  color: white;
}

/*# sourceMappingURL=style.css.map */
